$background : #272727;
$tableauTheme : #1b1b1b;
$tableauLigne : rgb(152, 152, 0);
$tailleLinge : 0.3vw;
$jouerCrois :whitesmoke;




*{
    font-family: sans-serif;
}

body{
    background: $background;
    border: solid 1px black;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    p.afficheResulat{
        position: absolute;
        color: green;
        font-size: 6vw;
        box-shadow: 0px 0px 9px black ;
        background-color: #242424dd;
        padding: 0px 24px;
        &.hidden{
            display: none;
        }
    }

    div.joeur{
        border: solid 1px rgb(254, 181, 181);
        width: 40vw;
        height: 10vw;
        background: $jouerCrois;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        div{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &.croisLogo{
                span{
                    width: 8vw;
                    height: $tailleLinge;
                    background: $tableauTheme;
                    position: absolute;
                    border-radius: 3px;
                    &:nth-child(1){
                        transform: rotate(-45deg);
                    }
                    &:nth-child(2){
                        transform: rotate(45deg);
                    }
                }
            }
            &.rondLogo{
                div{
                    width: 7vw;
                    height: 7vw;
                    border: solid $tableauTheme $tailleLinge;
                    border-radius: 4vw; 
                }
            }
            &.info{
                flex-direction: column;
                gap: 0px;
                p{
                    float: left;
                    color: $tableauTheme;
                }
                div{
                    h1{
                        margin: 0;
                        color: red;
                        font-size: 60px;
                    }
                    p{
                        color: $tableauTheme;
                        margin-left:3px ;
                        
                    }   
                }
                &.info-crois{
                    transform: rotate(180deg);
                }
            }
        }
        &.joeur-crois{
            transform: rotate(-90deg);
        }
        &.joeur-rond{
            transform: rotate(-90deg);
        }
        &.joeur-crois,&.joeur-rond{
            &.toure{
                box-shadow: 0px 0px 15px yellow;
            }
            &.perdant{
                box-shadow: 0px 0px 15px red;
            }
            &.gagnant{
                box-shadow: 0px 0px 15px rgb(0, 185, 0);
            }
        }
        
    }
    div.container-jeux{
        // border: solid 1px red;
        table{
            // border: solid 1px red;
            width: 30vw;
            height: 30vw;
            tr{
                
                td{
                    // border: solid 1px yellow;
                    width: 10vw;
                    height: 10vw;
                    &.case-1-1{
                        border-bottom: solid $tableauLigne $tailleLinge;
                        border-right: solid $tableauLigne $tailleLinge;
                    }
                    &.case-1-2{
                        border-left: solid $tableauLigne $tailleLinge;
                        border-bottom: solid $tableauLigne $tailleLinge;
                        border-right: solid $tableauLigne $tailleLinge;
                    }
                    &.case-1-3{
                        border-left: solid $tableauLigne $tailleLinge;
                        border-bottom: solid $tableauLigne $tailleLinge;
                    }
                    &.case-2-1{
                        border-top: solid $tableauLigne $tailleLinge;
                        border-bottom: solid $tableauLigne $tailleLinge;
                        border-right: solid $tableauLigne $tailleLinge;
                    }
                    &.case-2-2{
                        border: solid $tableauLigne $tailleLinge;
                    }
                    &.case-2-3{
                        border-left: solid $tableauLigne $tailleLinge;
                        border-bottom: solid $tableauLigne $tailleLinge;
                        border-top: solid $tableauLigne $tailleLinge;
                    }
                    &.case-3-1{
                        border-top: solid $tableauLigne $tailleLinge;
                        border-right: solid $tableauLigne $tailleLinge;
                    }
                    &.case-3-2{
                        border-top: solid $tableauLigne $tailleLinge;
                        border-left: solid $tableauLigne $tailleLinge;
                        border-right: solid $tableauLigne $tailleLinge;
                    }
                    &.case-3-3{
                        border-top: solid $tableauLigne $tailleLinge;
                        border-left: solid $tableauLigne $tailleLinge;
                    }
                    &.case{
                        background: $tableauTheme;
                        width: 30%;
                        height: 30%;
                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // border: solid 1px red;
                            width: 100%;
                            height: 100%;
                            // Crois CSS
                            span{
                                width: 8vw;
                                height: $tailleLinge;
                                background: $jouerCrois;
                                position: absolute;
                                border-radius: 3px;
                                &:nth-child(1){
                                    transform: rotate(-45deg);
                                }
                                &:nth-child(2){
                                    transform: rotate(45deg);
                                }
                            }
                            // Rond CSS
                            div{
                                width: 7vw;
                                height: 7vw;
                                border: solid $jouerCrois $tailleLinge;
                                border-radius: 4vw;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}


//168 - 750
//992 - 970
// 1200 - 1510
