* {
  box-sizing: border-box;
}

body {
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100Vh;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body div.container-winner {
  position: absolute;
  width: 80vw;
  height: 50px;
  background-color: #001f41;
  top: 10px;
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-out 400ms;
  transform: translateY(-120%);
}
body div.container-winner.show {
  transform: translateY(5%);
  transition: ease-in 400ms;
}
body div.container-winner .icon-reload {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 5px;
}
body div.container-winner .icon-reload:hover {
  background-color: #00244b;
}
body div.container-winner .icon-reload:active {
  background-color: #003064;
}
body div.container-data {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 25%;
  min-width: 160px;
  display: none;
  background-color: #ebebeb;
  border-radius: 3px;
  padding: 0 9px;
}
body div.container-data p {
  color: black;
  text-transform: capitalize;
}
body div.container-data.show {
  display: block;
}
body main.main {
  width: 70vw;
  height: 70vw;
  max-width: 40vw;
  max-height: 40vw;
}
body main.main.disable {
  visibility: none;
  display: none;
}
body main.main table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
body main.main table tr {
  border-bottom: solid 3px #c5aa21;
}
body main.main table tr:last-child {
  border-bottom: solid 3px #242424;
}
body main.main table tr:first-child {
  border-top: solid 3px #242424;
}
body main.main table tr td {
  border-right: solid 3px #c5aa21;
}
body main.main table tr td:last-child {
  border-right: solid 3px #242424;
}
body main.main table tr td:first-child {
  border-left: solid 3px #242424;
}
body main.main table tr td .rond {
  border: solid 2px whitesmoke;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  margin-left: 50%;
  transform: translate(-50%);
}
body main.main table tr td .rond.test {
  border-color: #242424;
}
body main.main table tr td .crois {
  min-width: 60%;
  min-height: 60%;
  max-width: 60%;
  max-height: 60%;
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body main.main table tr td .crois div {
  border: solid 1px white;
  width: 100px;
}
body main.main table tr td .crois div:nth-child(1) {
  transform: rotate(-45deg);
}
body main.main table tr td .crois div:nth-child(2) {
  transform: rotate(45deg);
}
body main.main table tr td span {
  color: #242424;
  user-select: none;
}
body form {
  overflow: hidden;
  padding: 10px;
  position: absolute;
  width: 50%;
  min-width: 300px;
  height: 150px;
  gap: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
}
body form.show {
  display: flex;
}
body form input {
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 15px;
}
body form input.prenom, body form input.room {
  padding-left: 5px;
  color: #242424;
  font-weight: 600;
  font-size: 17px;
  flex: 0.6;
}
body form input.submit, body form input.joinRoomButton {
  flex: 0.4;
  color: #ebebeb;
  background-color: #c5aa21;
  margin: 0;
  cursor: pointer;
}
body form input.submit:active, body form input.joinRoomButton:active {
  background-color: #dfc026;
}
body form input#localButton, body form input.searchRoomButton {
  flex: 0.4;
  cursor: pointer;
  color: #ebebeb;
  background-color: rgb(36, 36, 153);
}
body form input:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
