$bg-color:rgb(0, 0, 0);
$text-color:white;
$second-color:#c5aa21;
$second-color-focus:#7c7b75;
$second-color-active:#dfc026;
$white-color:#ebebeb;
$blue-color:rgb(36, 36, 153);

@font-face {
    font-family: 'PressStart';
    src: url('./PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'GoodTiming';
    src: url('./good-timing-bd.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-VariableFont_wdth\,wght.ttf');
}

* {
    box-sizing: border-box;
}
body{
    background-image: url('./background.jpg');
    backdrop-filter: blur(0px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100Vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    div.container-winner{
        position: absolute;
        width: 80vw;
        height: 50px;
        background-color: #001f41;
        top: 10px;
        color: whitesmoke;
        font-family: sans-serif;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-out 400ms;
        transform: translateY(-120%);
        &.show{
            transform: translateY(5%);
            transition: ease-in 400ms;
        }
        .icon-reload{
            width: 20px;
            height: 20px;
            cursor: pointer;
            padding: 5px;
            position: absolute;
            right: 5px;
            &:hover{
                background-color: #00244b;
            }
            &:active{
                background-color: #003064;
            }
        }
    }
    div.container{
        /* border: 1px red solid; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &.hidden{
            display: none;
        }
        div.container-option{
            background-color: rgb(255, 255, 255);
            width: 100vw;
            // border: 3px solid green;
            flex: 2;
            display: flex;
            justify-content: end;
            // margin-bottom: 8px;
            padding-bottom: 8px;
            gap: 20px;
            flex-direction: column;
            div{
                background-color: rgb(255, 255, 255);
                margin-left: 20px;
                width: 3vw;
                border: 2px solid black;
                height: 3vw;
                min-width: 24px;
                min-height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                box-shadow: -4px 4px 0px black;
                hr{
                    width: 10%;
                    height: 50%;
                    background-color: black;
                    margin: 0;
                    border-style: solid;
                }
            }
        }
        div.container-playground{
            background-color: rgb(255, 255, 255);
            width: 100%;
            // border: 1px blue solid;
            display: flex;
            flex: 10;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 3vh;
            div.container-data{
                // border: 1px solid red;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                min-width: 200px;
                width: 30%;
                height: 10vh;
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 10vw;
                    min-width: 70px;
                    height: 100%;
                    &.move-turn{
                        background-color: rgba(0, 0, 0, 0.11);
                    }
                    p{
                        display: -webkit-box;
                        text-align: center;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0;
                        font-family: 'GoodTiming';
                        font-size: 14px;
                    }
                }
                p.time{
                    font-family: 'GoodTiming';
                }
            }
            div.playground{
                background-color: #ffffff;
                border: 4px black solid;
                min-width: 200px;
                min-height: 200px;
                width: 30%;
                height: 30vw;
                display: flex;
                flex-direction: column;
                box-shadow: -8px 8px 0px black;
                div.line{
                    display: flex;
                    flex-direction: row;
                    width: max;
                    flex: 1;
                    border-bottom: 4px rgba(122, 122, 122, 0.425) solid;
                    &:last-child{
                        border-bottom: none;
                    }
                }
                div.case{
                    width: 100%;
                    height: 100%;
                    border-right: 4px rgba(122, 122, 122, 0.425) solid;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    &:last-child{
                        border-right: none;
                    }
                    div.rond{
                        border: 3px red;
                        border-style: ridge;
                        width: 75%;
                        height: 75%;
                        border-radius: 100%;
                    }
                    hr{
                        background-color: black;
                        width: 80%;
                        height: 1px;
                        transform: rotate(45deg);
                        &:nth-child(2){
                            position: absolute;
                            transform: rotate(-45deg);
                        }
                    }
                }

            }
        }
    }

    div.container-acceuil{
        // border: 2px solid red;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &.hidden{
            display: none;
        }
        div.container-title{
            background-color: rgba(255, 255, 255, 0.92);
            font-family: 'GoodTiming';
            width: 100%;
            height: 50vh;
            // border: 1px red solid;
            user-select: none;
            h1{
                font-size: 11vh;
                text-align: center;
                color: $bg-color;
                margin-bottom: 0px;
                &:nth-child(2){
                    font-size: 12vh;
                    margin: 0px;
                    margin-bottom: 0px;
                }
                &:nth-child(3){
                    font-size: 13vh;
                    margin-top: 0px;
                }
            }
            &.hidden{
                display: none;
            }
        }
        form{
            // border: solid 1px red;
            background: linear-gradient(0deg,rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0.92) 100%);
            overflow: hidden;
            // border: 1px solid yellow;
            padding: 10px;
            // position: absolute;
            width: 100%;
            height: 50vh;
            flex: 1;
            gap: 30px;
            padding-top: 60px;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &.show {
                display: flex;
            }
            input,button{
                border-radius: 2px;
                border: none;
                width: 50%;
                min-width: 300px;
                height: 53px;
                font-size: 15px;
                &.prenom,&.room{
                    padding-left: 5px;
                    color:$bg-color;
                    font-weight: 600;
                    width: 51%;
                    font-size: 17px;
                    border: 3px $bg-color solid;
                    border-radius: 2px;
                    box-shadow: -8px 8px 0px $bg-color;
                }
                &.submit,&.joinRoomButton,&#localButton,&.searchRoomButton{
                    color: $white-color;
                    font-family: 'GoodTiming';
                    font-size: 30px;
                    background-color: $bg-color;
                    position: relative;
                    margin: 0;
                    user-select: none;
                    cursor: pointer;
                    &:active::after{
                        content: '';
                        box-shadow: -2px 2px 0px $bg-color;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: -5px;
                        left: -5px;
                        right: -5px;
                        bottom: -5px;
                        border: 3px solid $bg-color; /* même couleur que le bouton */
                        // z-index: -1;
                        box-shadow: -8px 8px 0px $bg-color;
                        border-radius: 3px; /* même rayon si nécessaire */
                    }
                }
                &#localButton,&.searchRoomButton{
                    cursor: pointer;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
}

