@charset "UTF-8";
@font-face {
  font-family: "PressStart";
  src: url("./PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "GoodTiming";
  src: url("./good-timing-bd.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto-VariableFont_wdth,wght.ttf");
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("./background.jpg");
  backdrop-filter: blur(0px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100Vh;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body div.container-winner {
  position: absolute;
  width: 80vw;
  height: 50px;
  background-color: #001f41;
  top: 10px;
  color: whitesmoke;
  font-family: sans-serif;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-out 400ms;
  transform: translateY(-120%);
}
body div.container-winner.show {
  transform: translateY(5%);
  transition: ease-in 400ms;
}
body div.container-winner .icon-reload {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 5px;
}
body div.container-winner .icon-reload:hover {
  background-color: #00244b;
}
body div.container-winner .icon-reload:active {
  background-color: #003064;
}
body div.container {
  /* border: 1px red solid; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body div.container.hidden {
  display: none;
}
body div.container div.container-option {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  flex: 2;
  display: flex;
  justify-content: end;
  padding-bottom: 8px;
  gap: 20px;
  flex-direction: column;
}
body div.container div.container-option div {
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  width: 3vw;
  border: 2px solid black;
  height: 3vw;
  min-width: 24px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  box-shadow: -4px 4px 0px black;
}
body div.container div.container-option div hr {
  width: 10%;
  height: 50%;
  background-color: black;
  margin: 0;
  border-style: solid;
}
body div.container div.container-playground {
  background-color: rgb(255, 255, 255);
  width: 100%;
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}
body div.container div.container-playground div.playground {
  background-color: #ffffff;
  border: 4px black solid;
  min-width: 300px;
  min-height: 300px;
  width: 45vw;
  height: 45vw;
  display: flex;
  flex-direction: column;
  box-shadow: -8px 8px 0px black;
}
body div.container div.container-playground div.playground div.line {
  display: flex;
  flex-direction: row;
  width: max;
  flex: 1;
  border-bottom: 4px rgba(122, 122, 122, 0.425) solid;
}
body div.container div.container-playground div.playground div.line:last-child {
  border-bottom: none;
}
body div.container div.container-playground div.playground div.case {
  width: 100%;
  height: 100%;
  border-right: 4px rgba(122, 122, 122, 0.425) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body div.container div.container-playground div.playground div.case:last-child {
  border-right: none;
}
body div.container div.container-playground div.playground div.case div.rond {
  border: 3px red;
  border-style: ridge;
  width: 75%;
  height: 75%;
  border-radius: 100%;
}
body div.container div.container-playground div.playground div.case hr {
  background-color: black;
  width: 80%;
  height: 1px;
  transform: rotate(45deg);
}
body div.container div.container-playground div.playground div.case hr:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
}
body div.container-acceuil {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body div.container-acceuil.hidden {
  display: none;
}
body div.container-acceuil div.container-title {
  background-color: rgba(255, 255, 255, 0.92);
  font-family: "PressStart";
  width: 100%;
  user-select: none;
  flex: 0.65;
}
body div.container-acceuil div.container-title h1 {
  font-size: 100px;
  text-align: center;
  color: rgb(0, 0, 0);
}
body div.container-acceuil div.container-title.hidden {
  display: none;
}
body div.container-acceuil form {
  background: linear-gradient(0deg, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0.92) 100%);
  overflow: hidden;
  padding: 10px;
  width: 100%;
  flex: 0.35;
  gap: 30px;
  padding-top: 60px;
  display: none;
  flex-direction: column;
  align-items: center;
}
body div.container-acceuil form.show {
  display: flex;
}
body div.container-acceuil form input, body div.container-acceuil form button {
  border-radius: 2px;
  border: none;
  width: 50%;
  min-width: 300px;
  height: 53px;
  font-size: 15px;
}
body div.container-acceuil form input.prenom, body div.container-acceuil form input.room, body div.container-acceuil form button.prenom, body div.container-acceuil form button.room {
  padding-left: 5px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  width: 51%;
  font-size: 17px;
  border: 3px rgb(0, 0, 0) solid;
  border-radius: 2px;
  box-shadow: -8px 8px 0px rgb(0, 0, 0);
}
body div.container-acceuil form input.submit, body div.container-acceuil form input.joinRoomButton, body div.container-acceuil form input#localButton, body div.container-acceuil form input.searchRoomButton, body div.container-acceuil form button.submit, body div.container-acceuil form button.joinRoomButton, body div.container-acceuil form button#localButton, body div.container-acceuil form button.searchRoomButton {
  color: #ebebeb;
  font-family: "GoodTiming";
  font-size: 30px;
  background-color: rgb(0, 0, 0);
  position: relative;
  margin: 0;
  user-select: none;
  cursor: pointer;
}
body div.container-acceuil form input.submit:active::after, body div.container-acceuil form input.joinRoomButton:active::after, body div.container-acceuil form input#localButton:active::after, body div.container-acceuil form input.searchRoomButton:active::after, body div.container-acceuil form button.submit:active::after, body div.container-acceuil form button.joinRoomButton:active::after, body div.container-acceuil form button#localButton:active::after, body div.container-acceuil form button.searchRoomButton:active::after {
  content: "";
  box-shadow: -2px 2px 0px rgb(0, 0, 0);
}
body div.container-acceuil form input.submit::after, body div.container-acceuil form input.joinRoomButton::after, body div.container-acceuil form input#localButton::after, body div.container-acceuil form input.searchRoomButton::after, body div.container-acceuil form button.submit::after, body div.container-acceuil form button.joinRoomButton::after, body div.container-acceuil form button#localButton::after, body div.container-acceuil form button.searchRoomButton::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 3px solid rgb(0, 0, 0); /* même couleur que le bouton */
  box-shadow: -8px 8px 0px rgb(0, 0, 0);
  border-radius: 3px; /* même rayon si nécessaire */
}
body div.container-acceuil form input#localButton, body div.container-acceuil form input.searchRoomButton, body div.container-acceuil form button#localButton, body div.container-acceuil form button.searchRoomButton {
  cursor: pointer;
}
body div.container-acceuil form input:focus, body div.container-acceuil form button:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
